.debug-border {
  border: 1px solid red;
}

.debug-border-green {
  border: 1px solid green;
}

.debug-border-yellow {
  border: 1px solid yellow;
}

.border-open-left {
  border-top: solid 10px #e10600;
  border-right: solid 10px #e10600;
  border-bottom: solid 10px #e10600;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px
}

.border-open-bottom {
  border: solid #000;
  border-width: 10px 10px 0px 0px;
  border-radius: 0px 20px 0px 0px;
}

.border-open-top {
  border: solid #000;
  border-width: 0px 10px 10px 0px;
  border-radius: 0px 0px 10px 0px;
}

.border-calendar-race {
  border-right: solid 1px hsl(0.00, 0.00%, 45.88%);
  border-bottom-right-radius: 20px;
  border-bottom: solid 1px hsl(0.00, 0.00%, 45.88%);
}

.bg-muted {
  background-color: hsl(0.00, 0.00%, 45.88%);
}

.nav-button:hover {
  color: var(--bs-blue)
}

.nav-pills .nav-link.active {
  background-color: var(--bs-red);
}


#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Michroma', sans-serif;
  letter-spacing: .1rem;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-blue);
  font-style: italic;
}

.dropdown-menu {
  background: transparent;
  border: none;
  font-family: 'Michroma', sans-serif;
}

header {
  background-color: #D50000;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: large;
  word-spacing: 10px;
  letter-spacing: .4px;
}

h2,
h3,
h5 {
  font-family: 'Michroma', sans-serif;
}

.nav-link {
  color: #FAFAFA;
}

#container-fluid-hero-content {
  border: solid #000;
  border-width: 10px 10px 10px 0px;
  border-radius: 0px 20px 10px 0px;
  padding: 1%;
}

.hero-content-one {
  background-image: url("../assets/img/racei1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
  color: #FAFAFA;
  transition: background-size 0.3s ease;
}

.hero-content-two {
  background-image: url("../assets/img/racei1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
  color: #FAFAFA;
}

.hero-content-three {
  background-image: url("../assets/img/racei1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
  color: #FAFAFA;
}


.card-title-super {
  color: crimson;
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  margin: 0px 0px 5px 0px;
}

.card-title,
.card-text {
  font-family: 'Barlow', sans-serif;
}

#fantasy-banner {
  background-image: url("../assets/img/formula-fantasy-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2%;
  color: #FAFAFA;

  & a {
    font-size: small;
  }
}

.card-featured-race {
  font-family: 'Barlow', sans-serif;
  border: solid #000;
  border-width: 0px 2px 2px 0px;
  border-radius: 0px 0px 10px 0px;

  & h5,
  p {
    padding-left: 3%;
  }

 .card-title-super {
    padding-top: 2%;
    color: gold;
  }
}

.card-featured-race:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* Add a box shadow on hover */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* Add a smooth transition effect */
}

.card-featured-race:hover h5 {
  color: #ff5733;
}

.card-featured-race:hover p {
  color: #777;
}

#container-driver-nav {}

.nav-pills .nav-link {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  letter-spacing: .1rem;
}

.card-driver {
  background-color: #FAFAFA;
  margin: 1.3%;
  margin-top: 1.5%;
  border: none;
  border-radius: 3.25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  .card-title {
    font-family: 'Michroma', sans-serif;
  }

}
.card-driver:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-driver.first-place {
  border: 2px solid red; /* Add a gold border for the first-place card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -30px; /* Adjust the negative top value to lift it higher */
  z-index: 2; /* Ensure it's on top of other cards */
}


.card-driver.first-place:hover {
}

.card-standings-position {
  font-family: 'Michroma', sans-serif;
  font-weight: bold;
  font-size: calc(1.625rem + 4.5vw);
}

.list-group-standings {

}

.list-group-standings-item {
  background-color: #fff;
  padding: .7rem;
  margin-bottom: .25em;
  font-size: larger;

  a {
    border: none;
    background-color: #fff;
  }

}

.list-group-standings-item:hover {
  color: #FAFAFA;
  background-color: #343a40;

  
  a:hover {
    background-color: #343a40;
    color: #FAFAFA;

    }

}

.list-group-standings-divider-redbull {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: #3671C6
}
.list-group-standings-divider-ferrari {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: red
}
.list-group-standings-divider-mercedes {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: #6CD3BF
}
.list-group-standings-divider-astonmartin {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: #358C75
}
.list-group-standings-divider-mclaren {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: #F58020
}
.list-group-standings-divider-alpine {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: #2293D1
}
.list-group-standings-divider-williams {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: #37BEDD
}
.list-group-standings-divider-alphatauri {
  display: inline-block; /* or inline */
  vertical-align: middle; /* Adjust this property as needed */
  height: 14px;
  width: 5px;
  background-color: #5E8FAA
}

.standings-position {
  font-family: 'Michroma', sans-serif;
  font-size: .9rem;
  margin-left: 1%;
}
.driver-name,
.team-name {
  font-family: 'Michroma', sans-serif;
  font-size: 1rem;
}
.badge-points {
  background-color: hsl(0.00,0.00%,87.84%);
  color: hsl(0.00, 0.00%, 25.88%);
}
.driverQuickStats {
  color: #000;
}


/* Team names on Driver cards */
.team-name {
  font-family: 'Barlow', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  margin-left: 0.8rem;
  margin-right: 30%;
  letter-spacing: .3px;
  white-space: nowrap;
}

.container-last-race {
  background-color: hsl(0.00, 0.00%, 87.84%);
}

#container-swiper {
  background-color: hsl(0.00, 0.00%, 12.94%);
}

.swiper {
  height: 600px;

}

.swiper-slide:not(.active) .practice-grid {
  display: none;
}

.swiper-slide.active .practice-grid {
  display: grid;
}

.swiper-slide {
  height: 580px;
  width: 400px !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0.00, 0.00%, 12.94%);
  color: #fff;
  padding: 1rem;
  border-left: none;
  font-size: 18px;
  text-align: center;
  border-right: solid 1px hsl(0.00,0.00%,38.04%);
  border-bottom: solid 1px hsl(0.00,0.00%,38.04%);
  border-bottom-right-radius: 15px;
}

.swiper-slide img {
  object-fit: cover;
  height: 100px;
  /* Adjust the height as needed */
  width: 100px;
  /* Adjust the width as needed */
  margin-bottom: 10px;
}

.practice-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.practice-column {
  display: flex;
  flex-direction: column;
}

.practice-item {
  color: hsl(0.00, 0.00%, 87.84%);
  padding: 10px;
  text-align: center;
}

.swiper-slide-title {
  font-family: 'Michroma', sans-serif;
}

.calendar-race-information {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
}

.calendar-race-date {
  color: hsl(0.00, 0.00%, 61.96%);
  font-family: 'Barlow', sans-serif;
  text-align: center;
}
.calendar-race-time {
  margin-top: -10%;
  color: hsl(0.00, 0.00%, 61.96%);
  text-transform: uppercase;
}

.section-subheading {
  font-family: 'Barlow', sans-serif;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
}

.portfolio-item {
  margin-bottom: 20px;
  /* Add some margin to the bottom of each portfolio item */
  border: 1px solid black;
}

.portfolio-caption {
  padding: 2%;
}

.portfolio-caption-heading {
  font-family: 'Barlow', sans-serif;
}

.portfolio-caption-subheading {
  font-family: 'Michroma', sans-serif;
  letter-spacing: .03em;
  color: #333;
  padding-top: 1%;
}

.portfolio-item:hover {
  color: #D50000;

  & .portfolio-caption-subheading {
    color: blue;
  }
}

.cf-pinfo {
  background-color: hsl(0.00,0.00%,12.94%);
  color: #fff;
  border: 1px solid hsl(0.00,0.00%,25.88%);
}

.card-article1 {
  background-image: url('../assets/teams/redbull/redbull1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.card-article2 {
  background-image: url('../assets/teams/redbull/redbull1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.card-article3 {
  background-image: url('../assets/teams/redbull/redbull1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.cf-footer {
  font-family: 'Barlow', sans-serif;
  font-size: larger;
  background-color: hsl(0.00,0.00%,12.94%);
  color: #fff;

}

.list-group-footer {
}

.list-item-footer {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0px;
  padding-bottom: 6px;
}

.card-article1, .card-article2, .card-article3 {
  color: #fff;
  font-size: larger;

  .card-body {
    .card-title {
      color: #fff; /* Change the card title color */
    }

    .btn-link {
      color: hsl(354.00,100.00%,90.20%); /* Change the link color */
    }
  }
}

.modal {
  font-family: 'Barlow', sans-serif;
}

.modal-driver-name {
  font-family: 'Michroma', sans-serif;
}

.table>:not(caption)>*>* {
  background-color: transparent;
}
.table-driver-info {
  font-family: 'Michroma', sans-serif;

  td {
    font-family: 'Barlow', sans-serif;
  }
}