.bento-span-12 {
  grid-column: span 12;
}

.bento-span-6 {
  grid-column: span 6;
}

.bento-span-6 img {
  max-width: 100%;
  height: auto;

  @include media-breakpoint-up(lg) {
    max-height: 150px;
  }
}

.bento-span-3 {
  grid-column: span 3;

  @include media-breakpoint-up(md) {
    grid-column: span 6;
  }

  @include media-breakpoint-up(lg) {
    grid-column: span 3;
  }
}

.bento-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.bento-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  color: #000;
  text-decoration: none;
  background-color: $gray-200;
  border: 2px solid $gray-300;
  border-radius: 6px;
  transition: all .3s ease;

  &:hover {
    border: 2px solid $gray-600;
  }

}

.bento-item .bento-item-svg {
  display: block;
  width: 60px;
  height: auto;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    width: 3rem;
  }

  @include media-breakpoint-up(lg) {
    width: 3.6rem;
  }
}

.bento-item h5 {
  font-weight: 600;
  transition: transform .3s ease;
}

.bento-item-bg-cover {
  color: $white;
  background-image: url("../assets/img/section/racei1.png");
  filter: grayscale(100%);
  background-position: center;
  background-size: cover;
  transition: all .3s ease;
}

/* Bento Alt Version */
.bento-wrapper-alt {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;

  padding: 1rem;
}

@media (max-width: 768px) {
  .bento-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }

  .bento-item,
  .bento-item-alt {
    grid-column: span 6;
  }

  .bento-item2:nth-child(5),
  .bento-item2:nth-child(6),
  .bento-item-alt:nth-child(5),
  .bento-item-alt:nth-child(6) {
    grid-column: span 6;
  }
}

@media (max-width: 575px) {

  .bento-wrapper,
  .bento-wrapper-alt {
    grid-template-columns: 1fr;
  }

  .bento-item,
  .bento-item-alt {
    grid-column: span 1;
  }
}
