.bento-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.bento-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 3px;
  outline: 2px solid $gray-500;
  transition: all 0.3s ease;
}

.bento-item2:nth-child(1) {
  grid-column: span 6;
}

.bento-item2:nth-child(2) {
  grid-column: span 3;
}

.bento-item2:nth-child(3) {
  grid-column: span 3;
}

.bento-item2:nth-child(4) {
  grid-column: span 3;
}

.bento-item2:nth-child(5) {
  grid-column: span 3;
}

.bento-item2:nth-child(6) {
  grid-column: span 6;
}

.bento-item h5 {
  transition: transform 0.3s ease;
}

.bento-item-bg-cover {
  color: $white;
  background-image: url("../assets/img/section/racei1.png");
  filter: grayscale(100%);
  background-position: center;
  background-size: cover;
  transition: filter 0.3s ease;
}

.bento-item:hover {
  filter: none;
}

@media (max-width: 575px) {
  .bento-item {
    grid-column: span 12; /* Each item spans the full width */
  }
}

@media (max-width: 768px) {
  .bento-item:nth-child(1) {
    grid-column: span 6;
  }

  .bento-item:nth-child(2) {
    grid-column: span 6;
  }

  .bento-item:nth-child(3) {
    grid-column: span 6;
  }

  .bento-item:nth-child(4) {
    grid-column: span 6;
  }

  .bento-item:nth-child(5) {
    grid-column: span 12;
  }
}

.bento-wrapper-alt {
  display: grid;
  grid-template-columns: repeat(12, 1fr); // 12-column grid
  gap: 1.5rem; // Larger gap for a more spacious layout
  padding: 1rem;
}

.bento-item-alt {
  position: relative; // For overlapping content
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $gray-200; // Light background color
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease; // Smooth hover effects
}

.bento-item-alt:hover {
  background-color: $gray-400; // Highlighted background

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Enhance shadow on hover
}

.bento-item-alt h5 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: $gray-800;
}

.bento-item-alt p {
  text-align: center;
}

.bento-item-alt:nth-child(1) {
  grid-row: span 3; // Takes up two rows
  grid-column: span 6; // Spans half the grid
}

.bento-item-alt:nth-child(2) {
  grid-row: span 5; // Single row
  grid-column: span 3; // Spans 4 columns
}

.bento-item-alt:nth-child(3) {
  grid-row: span 5; // Takes up two rows
  grid-column: span 3; // Spans 2 columns
}

.bento-item-alt:nth-child(4) {
  grid-row: span 2; // Single row
  grid-column: span 6; // Spans half the grid
}

.bento-item-alt:nth-child(5) {
  grid-row: span 2; // Single row
  grid-column: span 12; // Spans half the grid
}

.bento-item-alt:nth-child(6) {
  grid-row: span 1; // Single row
  grid-column: span 12; // Full width
  background-color: $gray-200; // Highlighted background
}

@media (max-width: 768px) {
  .bento-wrapper-alt {
    grid-template-columns: repeat(6, 1fr); // Switch to a 6-column grid
  }

  .bento-item-alt:nth-child(1),
  .bento-item-alt:nth-child(4),
  .bento-item-alt:nth-child(5) {
    grid-column: span 6; // Full width on smaller screens
  }

  .bento-item-alt:nth-child(2),
  .bento-item-alt:nth-child(3) {
    grid-column: span 3; // Half width on smaller screens
  }

  .bento-item-alt:nth-child(6) {
    grid-column: span 6; // Full width
  }
}

@media (max-width: 575px) {
  .bento-wrapper-alt {
    grid-template-columns: repeat(1, 1fr); // Single-column layout
  }

  .bento-item-alt {
    grid-column: span 1; // Full width for all items
  }
}
