.border-open-bottom {
  border-top: 10px solid $gray-900;
  border-right: 10px solid $gray-900;
  border-left: 10px solid $gray-900;
  border-start-start-radius: 1rem;
  border-start-end-radius: 1rem;
}

.border-open-left {
  border-top: 10px solid;
  border-right: 10px solid;
  border-bottom: 10px solid;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.border-open-left--open-bottom {
  border-top: 10px solid;
  border-right: 10px solid;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0;
}

.border-open-left--open-top {
  padding: 1.3rem;
  border-top: none;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-color: $gray-700;
}

.border-open-left--open-top--w2 {
  @extend .border-open-left--open-top;
  border-width: 5px;
}

.border-mclaren {
  @extend .border-open-left--open-bottom;
  border-color: $orange;
  transition: all 0.3s ease;
}

.border-mclaren:hover {
  border-color: darken($orange, 10%);
}

.border-redbull {
  @extend .border-open-left--open-bottom;
  border-color: $blue-600;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken($blue-600, 15%);
  }
}

.border-mercedes {
  @extend .border-open-left--open-bottom;
  border-color: $teal;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken($teal, 10%);
  }
}

.border-ferrari {
  @extend .border-open-left--open-bottom;
  border-color: $red;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken($red, 10%);
  }
}

.border-williams {
  @extend .border-open-left--open-bottom;
  border-color: #005aff;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken(#005aff, 10%);
  }
}

.border-haas {
  @extend .border-open-left--open-bottom;
  border-color: $gray-800;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken($gray-800, 10%);
  }
}

.border-astonmartin {
  @extend .border-open-left--open-bottom;
  border-color: $green-600;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken($green-600, 10%);
  }
}

.border-alpine {
  @extend .border-open-left--open-bottom;
  border-color: #0090ff;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken(#0090ff, 10%);
  }
}

.border-kicksauber {
  @extend .border-open-left--open-bottom;
  border-color: #00ff62;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken(#00ff62, 10%);
  }
}

.border-racingbulls {
  @extend .border-open-left--open-bottom;
  border-color: #2b4562;
  transition: all 0.3s ease;

  &:hover {
    border-color: darken(#2b4562, 10%);
  }
}
