.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-news .bi-box-arrow-up-right {
  color: #fff;
  transform-origin: center center;
  transition: all .3s ease;
}

.card-news:hover .bi-box-arrow-up-right {
  transform: translateY(-5);
}

.card-news {
  background-image: url('../assets/img/section/racei1.png');
  background-size: cover;
  background-position: center;
  color: white;
  border: none
}

.card-circuit {
  padding: 1rem;
  border: none;
  border-bottom: 10px solid $gray-700;
  border-right: 10px solid $gray-700;
  border-radius: 0 0 2rem 0;
  transition: all .3s ease;

  &:hover {
    border-bottom-color: $red; // Changes bottom border color to primary
    border-right-color: $red; // Changes right border color to primary
  }
}

.card.card-circuit:hover svg.bi-box-arrow-up-right {
  color: red;
}

.circuit-name {
  text-wrap-style: balance;
}

.card-racecalender-section {
  transition: all .3s ease;
}

.card-racecalender-section:hover {
  color: $gray-100;
  background-color: $gray-700;
}

.card-racecalender-section:hover .btn {
  background-color: $red;
  border-color: $red !important
}