// Base styles for all cards with background images
.card-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-news {
  @extend .card-cover;
  color: $white;
  background-image: url("../assets/img/section/racei1.png");
  border: none;

  h3 {
    font-weight: 700;
  }

  .bi-box-arrow-up-right {
    color: #fff;
    transition: all .3s ease;
    transform-origin: center center;
  }

  &:hover .bi-box-arrow-up-right {
    transform: translateY(-5);
  }
}

.card-section-2025nav {
  @extend .card-news;
  background-image: url("../assets/img/section/section-drivers-banner.jpg");
  background-position: initial;
}

.card-cover-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card-cover-hero h3 {
  font-weight: 600;
  color: $white;
}

// start - circuit card
.card-circuit {
  padding: 1rem;
  border: none;
  border-top: 10px solid $gray-900;
  border-right: 10px solid $gray-900;
  border-bottom: 10px solid $gray-900;
  border-top-left-radius: 0;
  border-top-right-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
  border-bottom-left-radius: 0;
  transition: all .3s ease;

  &:hover {
    border-top-color: $red-600;
    border-right-color: $red-600;
    border-bottom-color: $red-600;
  }
}

.circuit-name {
  text-wrap-style: balance;
}

.card-racecalender-section {
  transition: all .3s ease;
}

.card-racecalender-section:hover {
  color: $gray-100;
  background-color: $gray-700;
}

.card-racecalender-section:hover .btn {
  background-color: $red;
  border-color: $red;
}

.card-spotlight {
  border-top: 0;
  border-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0;
  transition: all .3s ease;

}

.card-spotlight-leclerc {
  @extend .card-spotlight;
  border-right: 5px solid $red;
  border-bottom: 5px solid $red;
}

.card-spotlight-norris {
  @extend .card-spotlight;
  border-right: 5px solid #ff8000;
  border-bottom: 5px solid #ff8000;
}

.card-spotlight-verstappen {
  @extend .card-spotlight;
  border-right: 5px solid #1e41ff;
  border-bottom: 5px solid #1e41ff;
}

// whatis page

/* Championship Section Styling */
.championship-section {
  display: flex;
  flex-direction: column;
}

.championship-standing-pre-info h5 {
  font-size: calc(1rem + .9vw);
  font-weight: 600;

  @include media-breakpoint-up(sm) {
    // ≥576px
  }

  @include media-breakpoint-up(md) {
    // ≥768px
  }

  @include media-breakpoint-up(lg) {
    // ≥992px
  }

  @include media-breakpoint-up(xl) {
    // ≥1200px
  }

  @include media-breakpoint-up(xxl) {
    // ≥1200px
    font-size: calc(1rem + .9vw);
  }
}

.championship-item {
  position: relative;
  padding: 2rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.championship-item h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.championship-item p {
  font-size: 1rem;
}

.championship-item.drivers {
  position: relative;
  min-height: 200px;
  overflow: hidden;
  background: none;

  // Add the background image to the pseudo-element
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; // Ensure it stays behind the content
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../assets/img/section/section-drivers-banner.jpg");
    filter: brightness(.8); // Apply brightness filter here
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  // Ensure the content is above the pseudo-element
  .content {
    position: relative;
    z-index: 2; // Place content above the background
    transform: translateY(50%);
  }

  // Hover effect for the background
  &:hover::before {
    filter: brightness(1); // Remove brightness filter on hover
  }

  @include media-breakpoint-up(sm) {
    // ≥576px
    .content p {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    // ≥768px
    .content p {
      display: block;
    }
  }

}

.championship-item.constructors {
  position: relative;
  min-height: 200px;
  overflow: hidden;
  background: none;

  // Add the background image to the pseudo-element
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; // Ensure it stays behind the content
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../assets/img/section/section-drivers-banner.jpg");
    filter: brightness(.8); // Apply brightness filter here
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  // Ensure the content is above the pseudo-element
  .content {
    position: relative;
    z-index: 2; // Place content above the background
    transform: translateY(50%);
  }

  // Hover effect for the background
  &:hover::before {
    filter: brightness(1); // Remove brightness filter on hover
  }

  @include media-breakpoint-up(sm) {
    // ≥576px
    .content p {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    // ≥768px
    .content p {
      display: block;
    }
  }

}

.card-statistics {
  color: $gray-100;
  background-color: $gray-800;
  border-radius: 1rem;
  outline: none;

  transition: all .3s ease;


  &:hover {
    color: $gray-800;
    background-color: $gray-200;
    outline: 1px solid $gray-800;
  }
}
