.card-standings-podium {
  border-color: $gray-600;
  border-width: 10px;
  border-bottom: none;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0;
  transition: border-color .3s ease;

  &.team-redbull:hover {
    border-top: 10px solid #1e41ff; // Red Bull Racing blue
    border-right: 10px solid #1e41ff; // Red Bull Racing blue
  }

  &.team-mclaren:hover {
    border-top: 10px solid #ff8700; // McLaren orange
    border-right: 10px solid #ff8700; // McLaren orange
  }

  &.team-mercedes:hover {
    border-top: 10px solid #00d2be; // McLaren orange
    border-right: 10px solid #00d2be; // McLaren orange
  }
}

.card-standings-podium-info h5 {
  font-size: 3.25rem;
  font-weight: 900;
}

.card-standings-podium-info p {
  font-size: 2rem;
  font-weight: 700;
}

.card-standings {
  overflow: hidden;
  border-width: 5px;
  border-bottom: none;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0;
  transition: all .3s ease;

  &:hover {
    border-color: $gray-600;
  }

  .card-standings__position-wrapper {
    border-bottom: 3px solid $gray-400; // Bootstrap's $danger color
  }


  .card-standings-info {
    background-color: #e9ecef; // Light gray background for the info row
    border-bottom: 2px solid #dee2e6; // Separator line
  }

  // points
  .card-standings-info p:first-child {
    font-size: calc(2rem + .9vw);
    font-weight: 800;

    @include media-breakpoint-up(xxl) {
      font-size: calc(2.3rem + .5vw);

    }
  }

  // pts label
  .card-standings-info p:nth-child(2) {
    font-size: calc(.9rem + .5vw);

    @include media-breakpoint-up(xxl) {
      font-size: calc(.9rem + .5vw);

    }
  }

  .card-standings-info h5 {
    font-size: calc(2.6rem + .9vw);
    font-weight: 800;

    @include media-breakpoint-up(xxl) {
      font-size: calc(2.6rem + .9vw);

    }
  }

  .card-standings-info-border-bottom {
    border-bottom: 2px solid #dee2e6;
  }

  .card-body {
    padding: 1rem;
    background-color: #fff;
  }

  img {
    object-fit: contain;
  }

  p {
    margin: 0;
  }

  h5 {
    margin: 0;
    font-size: 1.25rem;
  }

  &.team-redbull:hover {
    border-top: 5px solid #1e41ff; // Red Bull Racing blue
    border-right: 5px solid #1e41ff; // Red Bull Racing blue
  }

  &.team-ferrari:hover {
    border-top: 5px solid #dc0000; // Ferrari red
    border-right: 5px solid #dc0000; // Ferrari red
  }

  &.team-mercedes:hover {
    border-top: 5px solid #00d2be; // Mercedes teal
    border-right: 5px solid #00d2be; // Mercedes teal
  }

  &.team-mclaren:hover {
    border-top: 5px solid #ff8700; // McLaren orange
    border-right: 5px solid #ff8700; // McLaren orange
  }

  &.team-alpine:hover {
    border-top: 5px solid #0090ff; // Alpine blue
    border-right: 5px solid #0090ff; // Alpine blue
  }

  &.team-astonmartin:hover {
    border-top: 5px solid #006f62; // Aston Martin green
    border-right: 5px solid #006f62; // Aston Martin green
  }

  &.team-haas:hover {
    border-top: 5px solid $gray-600; // Haas white
    border-right: 5px solid $gray-600; // Haas white
  }

  &.team-racingbulls:hover {
    border-top: 5px solid #2b4562; // AlphaTauri navy
    border-right: 5px solid #2b4562; // AlphaTauri navy
  }

  &.team-williams:hover {
    border-top: 5px solid #005aff; // Williams blue
    border-right: 5px solid #005aff; // Williams blue
  }

  &.team-kicksauber:hover {
    border-top: 5px solid #00ff62; // Alfa Romeo red
    border-right: 5px solid #00ff62; // Alfa Romeo red
  }
}
