// start - background image card
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
// start - background image with text card
.card-news {
  color: $white;
  background-image: url("../assets/img/section/racei1.png");
  background-position: center;
  background-size: cover;
  border: none;
}

.card-news .bi-box-arrow-up-right {
  color: #fff;
  transition: all .3s ease;
  transform-origin: center center;
}

.card-news:hover .bi-box-arrow-up-right {
  transform: translateY(-5);
}

// start - circuit card
.card-circuit {
  padding: 1rem;
  border: none;
  border-top: 10px solid $gray-700;
  border-right: 10px solid $gray-700;
  border-bottom: 10px solid $gray-700;
  border-top-left-radius: 0;
  border-top-right-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
  border-bottom-left-radius: 0;
  transition: all .3s ease;

  &:hover {
    border-top-color: $red-600;
    border-right-color: $red-600;
    border-bottom-color: $red-600;
  }
}

.circuit-name {
  text-wrap-style: balance;
}

.card-racecalender-section {
  transition: all .3s ease;
}

.card-racecalender-section:hover {
  color: $gray-100;
  background-color: $gray-700;
}

.card-racecalender-section:hover .btn {
  background-color: $red;
  border-color: $red;
}

.card-spotlight {
  border-top: 0;
  border-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0;
  transition: all .3s ease;

}

.card-spotlight-leclerc {
  @extend .card-spotlight;
  border-right: 5px solid $red;
  border-bottom: 5px solid $red;
}

.card-spotlight-norris {
  @extend .card-spotlight;
  border-right: 5px solid #ff8000;
  border-bottom: 5px solid #ff8000;
}

.card-spotlight-verstappen {
  @extend .card-spotlight;
  border-right: 5px solid #1e41ff;
  border-bottom: 5px solid #1e41ff;
}

// whatis page

/* Championship Section Styling */
.championship-section {
  display: flex;
  flex-direction: column;
}

.championship-item {
  position: relative;
  padding: 2rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.championship-item h5 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.championship-item p {
  font-size: 1rem;
}

.championship-item.drivers {
  background-image: url("https://place-hold.it/1200x250");
}

.championship-item.constructors {
  background-image: url("https://place-hold.it/1200x250");
}
