.col-feature {
  padding: 1rem;
}

@media (max-width: 576px) {
  .icon-square {
    width: 2.5rem;
    height: 2.5rem;
  }

  .col-feature {
    padding: 1.5rem;
    text-align: center;
  }

  .col-feature h3 {
  }
}
