.wrapper-footer {
  color: $gray-200;
  background-color: $gray-900;
  padding: 3rem 3rem 1rem 3rem;
}

footer h5 {
  color: $gray-300;
}

footer .nav-link {
  color: $gray-500;
  display: inline-flex;
  text-decoration: none;
  transition: color .3s ease;

  &:hover,
  &:focus-visible {
    color: $gray-200;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: $red;
    text-underline-offset: 6px;
  }

  &:focus {
    color: $red-300
  }
}