h1,
h2,
h3,
h4,
h5 {
  font-family: Arimo, sans-serif;
}

p {
  font-family: Inter, sans-serif;
}

h1 {
  font-weight: 900;

  @include media-breakpoint-up(sm) {
    // ≥576px
  }

  @include media-breakpoint-up(md) {
    // ≥768px
  }

  @include media-breakpoint-up(lg) {
    // ≥992px
  }

  @include media-breakpoint-up(xl) {
    // ≥1200px
  }

  @include media-breakpoint-up(xxl) {
    // ≥1200px
  }
}

h2 {
  font-weight: 600;

  @include media-breakpoint-up(sm) {
    // ≥576px
  }

  @include media-breakpoint-up(md) {
    // ≥768px
  }

  @include media-breakpoint-up(lg) {
    // ≥992px
  }

  @include media-breakpoint-up(xl) {
    // ≥1200px
  }

  @include media-breakpoint-up(xxl) {
    // ≥1200px
  }
}

h3 {

  @include media-breakpoint-up(sm) {
    // ≥576px
  }

  @include media-breakpoint-up(md) {
    // ≥768px
  }

  @include media-breakpoint-up(lg) {
    // ≥992px
  }

  @include media-breakpoint-up(xl) {
    // ≥1200px
  }

  @include media-breakpoint-up(xxl) {
    // ≥1200px
  }
}

.driver-champion-standing-pos {
  font-weight: 900;
}
