// Block: driver-standings
.driver-standings__list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $gray-200;
  transition: all .3s ease;
}

.driver-standings__item {
  align-items: center;
  padding: .6rem 1.5rem;
  background-color: $gray-200;
  transition: all .3s ease;

  &:hover {
    background-color: $gray-800;
  }
}

.driver-standings__item:hover .driver-standings__link {
  color: $gray-200;
}


.driver-standings__item:hover .driver-standings__team-name {
  color: $gray-200;
}

.driver-standings__item:hover .text-bg-standings--leader {
  color: $red;
  background-color: $gray-200;
}

.driver-standings__item:hover .text-bg-standings {
  color: #000;
  background-color: $gray-200;
}

.driver-standings__link {
  display: flex;
  color: #000;
  text-decoration: none;
  transition: all .3s ease;
}

.driver-standings__chevron {
  margin-left: 1rem;
  color: $red;
  transition: all .3s ease;
}

.driver-standings__item:hover .driver-standings__chevron {
  color: $gray-200;
}

.driver-standings__divider {
  margin-right: 1rem;
  margin-left: 1rem;

  svg {
    transition: fill .3s ease;
  }
}

.driver-standings__divider--mclaren svg {
  fill: $orange;
}

.driver-standings__divider--redbull svg {
  fill: $blue;
}

.driver-standings__divider--ferrari svg {
  fill: $red;
}

.driver-standings__divider--mercedes svg {
  fill: $teal;
}

.driver-standings__divider--haas svg {
  fill: $gray-800;
}

.driver-standings__divider--astonmartin svg {
  fill: $green-600;
}

.driver-standings__divider--williams svg {
  fill: #005aff;
}

.driver-standings__divider--racingbulls svg {
  fill: #2b4562;
}

.driver-standings__divider--alpine svg {
  fill: #0090ff;
}

.driver-standings__divider--kicksauber svg {
  fill: #00ff62;
}

.driver-standings__item:hover .driver-standings__divider--haas svg {
  fill: $red;
}

.driver-standings__driver-name {
}

.driver-standings__team-name {
  margin-left: .4rem;
  font-size: small;
  color: $gray-600;
  transition: all .3s ease;
}

/* start list group item team badge hover styles */
.lgi-mclaren .badge.text-bg-mclaren {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-mclaren:hover .badge.text-bg-mclaren {
  background: darken($orange, 10%);
}

.lgi-redbull .badge.text-bg-redbull {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-redbull:hover .badge.text-bg-redbull {
  background: darken($red, 10%);
}

.lgi-mercedes .badge.text-bg-mercedes {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-mercedes:hover .badge.text-bg-mercedes {
  color: $white;
  background: darken($teal, 10%);
}

.lgi-ferrari .badge.text-bg-ferrari {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-ferrari:hover .badge.text-bg-ferrari {
  background: darken($red, 10%);
}

.lgi-williams .badge.text-bg-williams {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-williams:hover .badge.text-bg-williams {
  background: darken(#005aff, 10%);
}

.lgi-haas .badge.text-bg-haas {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-haas:hover .badge.text-bg-haas {
  background: darken($gray-800, 10%);
}

.lgi-astonmartin .badge.text-bg-astonmartin {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-astonmartin:hover .badge.text-bg-astonmartin {
  background: darken($green-600, 10%);
}

.lgi-alpine .badge.text-bg-alpine {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-alpine:hover .badge.text-bg-alpine {
  background: darken(#0090ff, 10%);
}

.lgi-kicksauber .badge.text-bg-kicksauber {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-kicksauber:hover .badge.text-bg-kicksauber {
  background: darken(#00ff62, 10%);
}

.lgi-racingbulls .badge.text-bg-racingbulls {
  transition: all .3s ease;
  transform: scale(1);
}

.lgi-racingbulls:hover .badge.text-bg-racingbulls {
  background: darken(#2b4562, 10%);
}
