/* Base styles */
.featured-races {
  display: flex;
  flex-direction: column;
}

@mixin race-background($image) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 300px;
  padding: 4rem 2rem;
  overflow: hidden;
  color: #fff;
  background-image: url("../assets/img/section/#{$image}");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.race-section {
  @include race-background("racei1.png"); // Default background
}

.race-section.bahrain {
  @include race-background("racei2.png");
}

.race-section.saudi-arabia {
  @include race-background("racei3.png");
}

/* Slide-in Overlay on Hover */
.race-section::before {
  position: absolute;
  inset: 0;
  content: "";
  background: rgba(0, 0, 0, .712);
  transition: transform .3s ease-in-out;
  transform: translateY(100%);
}

.race-section:hover::before {
  transform: translateY(0);
}

.race-section:first-child {
  border-top: none;
}

.race-section:last-child {
  border-bottom: none;
}

.race-section .race-section-title {
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  transform: translateY(10px);
}

.race-section:hover .race-section-title {
  opacity: 1;
  transform: translateY(2);
}

.race-section-title-position {
  padding-top: 1rem;
  padding-right: 1rem;
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  border-top-right-radius: 1rem;
  transition: border, .3s ease;
}

.race-section:hover .race-section-title-position {
  border-color: $danger;
}

/* Initially Hide Description */
.race-section .hidden-description {
  padding-top: 1rem;
  opacity: 0;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  transform: translateY(10px);
}

/* Hover Effect - Show Hidden Description */
.race-section:hover .hidden-description {
  opacity: 1;
  transform: translateY(0);
}

.race-section h2 {
}

.race-section-scale {
  transition: transform .3s ease;
  transform: scale(1);
}

.race-section-scale:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .race-section {
    min-height: 200px;
    padding: 2rem 1rem;
  }

  .race-section h2 {
    text-align: center;
  }

  .race-section .hidden-description {
    text-align: center;
  }

  .race-section-title-position {
    padding-right: 5px;
    border-width: 4px;
  }
}

@media (hover: hover) {
  .race-section:hover::before {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .hidden-description {
    opacity: 1;
    transform: translateY(0);
  }
}

