.container-swiper {
  color: #fff;
  background-color: $gray-900;
}

.swiper {
  width: 90rem;
  height: 30rem;
}

.swiper-slide {
  padding: 1rem;
  border-right: 1px solid $red-500;
  border-top: 1px solid $red-500;
  border-top-right-radius: 2rem;
}

.swiper-slide-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.calendar-race-date {
  color: $gray-500
}

.btn-outline-danger {
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-danger:hover {
  background-color: hsl(0, 80%, 50%);
  color: #fff;
}
