// Base style
.text-bg-custom {
  padding: 0.3rem 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: $gray-900;
  transition: all 0.3s ease;
}

.text-bg-custom-standings {
  @extend .text-bg-custom;
  transition: all 0.3s ease;
}

.text-bg-custom-standings--mclaren {
  @extend .text-bg-custom-standings;

  &:hover {
    background-color: $orange;
  }
}

.text-bg-custom-standings--redbull {
  @extend .text-bg-custom-standings;

  &:hover {
    background-color: #1e41ff;
  }
}

.text-bg-custom-standings--mercedes {
  @extend .text-bg-custom-standings;

  &:hover {
    color: #000;
    background-color: $teal;
  }
}

// Generic styles
.text-bg-custom.text-bg-standings--leader {
  background-color: $red;
}

.text-bg-custom.text-bg-standings {
  @extend .text-bg-custom;
  background-color: $gray-900;
}

// Team-specific styles
.text-bg-mclaren {
  @extend .text-bg-custom;
  background: $orange;
}

.text-bg-redbull {
  @extend .text-bg-custom;
  background: $red;
}

.text-bg-mercedes {
  @extend .text-bg-custom;
  color: $gray-900;
  background: $teal;
}

.text-bg-ferrari {
  @extend .text-bg-custom;
  color: $gray-200;
  background: $red;
}

.text-bg-williams {
  @extend .text-bg-custom;
  color: $gray-200;
  background: #005aff;
}

.text-bg-haas {
  @extend .text-bg-custom;
  color: $gray-200;
  background: $gray-800;
}

.text-bg-astonmartin {
  @extend .text-bg-custom;
  color: $gray-200;
  background: $green-600;
}

.text-bg-alpine {
  @extend .text-bg-custom;
  color: $gray-200;
  background: #0090ff;
}

.text-bg-kicksauber {
  @extend .text-bg-custom;
  color: $gray-900;
  background: #00ff62;
}

.text-bg-racingbulls {
  @extend .text-bg-custom;
  color: $gray-200;
  background: #2b4562;
}
