.breakpoint-size {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  padding: 0.5rem 1rem;
  font-size: 12px;
  font-weight: 700;
  color: $red;
  letter-spacing: 1px;
  background-color: #f7d2d5ba;
  border-color: $red;
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
}
